<div class="responsive-width mx-auto">
  <h4>Alphabet</h4>

  <p>
    In the Philippines, the writing system and alphabet has evolved over time:
  </p>

  <ul class="list-group">
    <li class="list-group-item">
      <span class="fw-bold">Abecedario</span>: This was the Spanish-influenced
      alphabet used during the Spanish colonial period. It consisted of 32
      letters, including Spanish-specific ones like "Ch," "Ll," and "Ñ."
    </li>
    <li class="list-group-item">
      <span class="fw-bold">Abakada</span>: Introduced by Lope K. Santos in
      1940, this was the native Filipino alphabet with 20 letters: A, B, K, D,
      E, G, H, I, L, M, N, Ng, O, P, R, S, T, U, W, and Y. It was designed to
      better represent the sounds of native Filipino languages.
    </li>
    <li class="list-group-item">
      <span class="fw-bold">Alpabetong Filipino</span>: The current Filipino
      alphabet, adopted in 1987, has 28 letters, incorporating the original
      Abakada and adding the letters C, F, J, Ñ, Q, V, X, and Z to represent
      sounds from foreign words and indigenous languages.
    </li>
  </ul>

  <p class="fw-bold">Alpabetong Filipino</p>

  <div class="container">
    <div class="w-100 w-md-50 mx-auto">
      <img src="img/alpabetong.jpg" class="img-fluid" />
    </div>
  </div>
  <p>Credits: Teach Che Gr.1 Learning Materials @ Facebook</p>

  <div class="video-container">
    <iframe
      src="https://www.youtube.com/embed/7HK8s83O4t0?si=HqxLvIuUUQWPTIQi"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </div>

  <p>Credits: El Fan De Doki #2022 #AntiNitoElLoquendero @ YouTube</p>

  <div class="card bg-secondary text-white mb-2">
    <div class="card-body">
      <p>
        Note: Do not get confuse by the pronunciation of the alphabet and the
        actual pronunciation in words, initial <kbd>p</kbd>, <kbd>t</kbd>,
        <kbd>k</kbd> are <span class="fw-bold">unaspirated</span>, if you speak
        Spanish you are good with this part but if you are an English speaking
        student you must be careful not to heavily aspirate.
      </p>
    </div>
  </div>

  <p class="mb-2">
    If you combine consonants with vowels this is how they sound:
  </p>

  <table class="table table-striped table-bordered table-hover">
    <tr>
      <td>Ba</td>
      <td>Be</td>
      <td>Bi</td>
      <td>Bo</td>
      <td>Bu</td>
    </tr>
    <tr>
      <td>"Ba" as in "Basket"</td>
      <td>"Be" as in "Bed"</td>
      <td>"Bee" as in "Bikini"</td>
      <td>"Bo" as in "Bob"</td>
      <td>"Bu" as in "Boo"</td>
    </tr>
    <tr>
      <td>Ca</td>
      <td>Ce</td>
      <td>Ci</td>
      <td>Co</td>
      <td>Cu</td>
    </tr>
    <tr>
      <td>"Ca" as in "Cactus"</td>
      <td>"Ce" as in "Certified"</td>
      <td>"Ci" as in "Citizen"</td>
      <td>"Co" as in "Coleman"</td>
      <td>"Cu" as in "Curl"</td>
    </tr>
    <tr>
      <td colspan="5" class="text-center">
        Note: The letter C is used for words borrowed from Spanish.
      </td>
    </tr>
    <tr>
      <td>Da</td>
      <td>De</td>
      <td>Di</td>
      <td>Do</td>
      <td>Du</td>
    </tr>
    <tr>
      <td>"Dja"</td>
      <td>"Dje"</td>
      <td>"Dji"</td>
      <td>"Djo"</td>
      <td>"Dju"</td>
    </tr>
    <tr>
      <td colspan="5">Note: the <kbd>dj</kbd> is generally pronounced like the <kbd>j</kbd> in jeep in English.</td>
    </tr>
    <tr>
      <td>"Da" as in "Dart"</td>
      <td>"De" as in "Desk"</td>
      <td>"Di" as in "Dinner"</td>
      <td>"Do" as in "Dome"</td>
      <td>"Du" as in "Dune"</td>
    </tr>
    <tr>
      <td>Fa</td>
      <td>Fe</td>
      <td>Fi</td>
      <td>Fo</td>
      <td>Fu</td>
    </tr>
    <tr>
      <td>"Fa" as in "Father"</td>
      <td>"Fe" as in "Fence"</td>
      <td>"Fi" as in "Fish"</td>
      <td>"Fo" as in "Fork"</td>
      <td>"Fu" as in "Fun"</td>
    </tr>
    <tr>
      <td>Ga</td>
      <td>Ge</td>
      <td>Gi</td>
      <td>Go</td>
      <td>Gu</td>
    </tr>
    <tr>
      <td>"Ga" as in "Garden"</td>
      <td>"Ge" as in "Gem"</td>
      <td>"Gi" as in "Gift"</td>
      <td>"Go" as in "Goat"</td>
      <td>"Gu" as in "Goose"</td>
    </tr>
    <tr>
      <td colspan="5" class="text-center">
        As part of the Spanish influence, the letter "G" can also sound as the
        letter "h" in English (ONLY FOR SOME VOWELS), see row below:
      </td>
    </tr>
    <tr>
      <td>There's no example for GA</td>
      <td>Genaro</td>
      <td>CorreGIdor</td>
      <td>There's no example for GU</td>
      <td>There's no example for GU</td>
    </tr>

    <tr>
      <td>Ha</td>
      <td>He</td>
      <td>Hi</td>
      <td>Ho</td>
      <td>Hu</td>
    </tr>
    <tr>
      <td>"Ha" as in "Halo"</td>
      <td>"He" as in "Hero"</td>
      <td>"Hi" as in "Hit"</td>
      <td>"Ho" as in "Horse"</td>
      <td>"Hu" as in "Hula"</td>
    </tr>
    <tr>
      <td>Ja</td>
      <td>Je</td>
      <td>Ji</td>
      <td>Jo</td>
      <td>Ju</td>
    </tr>
    <tr>
      <td>"Ja" as in "Jar"</td>
      <td>"Je" as in "Jet"</td>
      <td>"Ji" as in "Jig"</td>
      <td>"Jo" as in "Job"</td>
      <td>"Ju" as in "Jug"</td>
    </tr>
    <tr>
      <td colspan="5" class="text-center">
        As part of the Spanish influence, the letter "J" can also sound as the
        letter "h" in English (ONLY FOR SOME VOWELS), next row show
        <span class="fw-bold">SPANISH</span> words with "J" (I was to lazy to
        search for filipino words):
      </td>
    </tr>
    <tr>
      <td>Javier</td>
      <td>Jeronimo</td>
      <td>Jitomate</td>
      <td>Jose</td>
      <td>Jugo</td>
    </tr>
    <tr>
      <td>Ka</td>
      <td>Ke</td>
      <td>Ki</td>
      <td>Ko</td>
      <td>Ku</td>
    </tr>
    <tr>
      <td>"Ka" as in "Karma"</td>
      <td>"Ke" as in "Ketchup"</td>
      <td>"Ki" as in "Kiss"</td>
      <td>"Ko" as in "Cobra"</td>
      <td>"Ku" as in "Kung Fu"</td>
    </tr>
    <tr>
      <td>La</td>
      <td>Le</td>
      <td>Li</td>
      <td>Lo</td>
      <td>Lu</td>
    </tr>
    <tr>
      <td colspan="5">The letter "LL" is not part of the Alpabeton Filipino, but I am including it here cause it still appears in some tagalog words:</td>
    </tr>
    <tr>
      <td>La (didn't find an example)</td>
      <td>Callejon read as Kal-ye-hon</td>
      <td>Belleza read as bel-ye-sa</td>
      <td>Magallon read as ma-ga-lion (or something like that)</td>
      <td>Lu (didn't find an example)</td>
    </tr>
    <tr>
      <td colspan="5">The letter "ll" is read in tagalog as "el-ye" in contrast with the Spanish words</td>
    </tr>
    <tr>
      <td>"La" as in "Ladder"</td>
      <td>"Le" as in "Lemon"</td>
      <td>"Li" as in "Lily"</td>
      <td>"Lo" as in "Lobster"</td>
      <td>"Lu" as in "Lunar"</td>
    </tr>
    <tr>
      <td>Ma</td>
      <td>Me</td>
      <td>Mi</td>
      <td>Mo</td>
      <td>Mu</td>
    </tr>
    <tr>
      <td>"Ma" as in "Mango"</td>
      <td>"Me" as in "Mess"</td>
      <td>"Mi" as in "Milk"</td>
      <td>"Mo" as in "Mole"</td>
      <td>"Mu" as in "Mule"</td>
    </tr>
    <tr>
      <td>Na</td>
      <td>Ne</td>
      <td>Ni</td>
      <td>No</td>
      <td>Nu</td>
    </tr>
    <tr>
      <td>"Na" as in "Navy"</td>
      <td>"Ne" as in "Net"</td>
      <td>"Ni" as in "Nickel"</td>
      <td>"No" as in "Note"</td>
      <td>"Nu" as in "Nun"</td>
    </tr>
    <tr>
      <td>Ña</td>
      <td>Ñe</td>
      <td>Ñi</td>
      <td>Ño</td>
      <td>Ñu</td>
    </tr>
    <tr>
      <td colspan="5" class="text-center">
        Next row show <span class="fw-bold">SPANISH</span> words with "Ñ" (I was
        to lazy to search for filipino words):
      </td>
    </tr>
    <tr>
      <td>"Ña" as in "Piñata"</td>
      <td>"Ñe" as in "Señor"</td>
      <td>"Ñi" as in "Ñisca"</td>
      <td>"Ño" as in "Piñon"</td>
      <td>"Ñu" as in "Piñon"</td>
    </tr>
    <tr>
      <td>Nga</td>
      <td>Nge</td>
      <td>Ngi</td>
      <td>Ngo</td>
      <td>Ngu</td>
    </tr>
    <tr>
      <td colspan="5" class="text-center">
        Se the card at the end of this section to learn about NG
      </td>
    </tr>
    <tr>
      <td>Pa</td>
      <td>Pe</td>
      <td>Pi</td>
      <td>Po</td>
      <td>Pu</td>
    </tr>
    <tr>
      <td>"Pa" as in "Papa"</td>
      <td>"Pe" as in "Pencil"</td>
      <td>"Pi" as in "Pizza"</td>
      <td>"Po" as in "Pole"</td>
      <td>"Pu" as in "Pull"</td>
    </tr>
    <tr>
      <td>Ra</td>
      <td>Re</td>
      <td>Ri</td>
      <td>Ro</td>
      <td>Ru</td>
    </tr>
    <tr>
      <td>"Ra" as in "Rabbit"</td>
      <td>"Re" as in "Red"</td>
      <td>"Ri" as in "Ribbon"</td>
      <td>"Ro" as in "Robot"</td>
      <td>"Ru" as in "Rug"</td>
    </tr>
    <tr>
      <td>Sa</td>
      <td>Se</td>
      <td>Si</td>
      <td>So</td>
      <td>Su</td>
    </tr>
    <tr>
      <td>"Sa" as in "Salsa"</td>
      <td>"Se" as in "Seven"</td>
      <td>"Si" as in "Sister"</td>
      <td>"So" as in "Soda"</td>
      <td>"Su" as in "Sun"</td>
    </tr>
    <tr>
      <td>Ta</td>
      <td>Te</td>
      <td>Ti</td>
      <td>To</td>
      <td>Tu</td>
    </tr>
    <tr>
      <td>"Ta" as in "Taco"</td>
      <td>"Te" as in "Ten"</td>
      <td>"Ti" as in "tikTok"</td>
      <td>"To" as in "Toad"</td>
      <td>"Tu" as in "Tulip"</td>
    </tr>
    <tr>
      <td>Tsa</td>
      <td>Tse</td>
      <td>Tsi</td>
      <td>Tso</td>
      <td>Tsu</td>
    </tr>
    <tr>
      <td colspan="5">Small note <kbd>ts</kbd> sound as <kbd>ch</kbd> in check (same as in Spanish right?)</td>
    </tr>
    <tr>
      <td>Wa</td>
      <td>We</td>
      <td>Wi</td>
      <td>Wo</td>
      <td>Wu</td>
    </tr>
    <tr>
      <td>"Wa" as in "Water"</td>
      <td>"We" as in "Well"</td>
      <td>"Wi" as in "Wish"</td>
      <td>"Wo" as in "Wolf"</td>
      <td>"Wu" as in "Wushu"</td>
    </tr>
    <tr>
      <td>Ya</td>
      <td>Ye</td>
      <td>Yi</td>
      <td>Yo</td>
      <td>Yu</td>
    </tr>
    <tr>
      <td>"Ya" as in "Yard"</td>
      <td>"Ye" as in "Yes"</td>
      <td>"Yi" as in "Yield"</td>
      <td>"Yo" as in "Yoga"</td>
      <td>"Yu" as in "Yule"</td>
    </tr>
    <tr>
      <td>Za</td>
      <td>Ze</td>
      <td>Zi</td>
      <td>Zo</td>
      <td>Zu</td>
    </tr>
    <tr>
      <td>"Sa" as in "Salsa"</td>
      <td>"Se" as in "Seven"</td>
      <td>"Si" as in "Sister"</td>
      <td>"So" as in "Soda"</td>
      <td>"Su" as in "Sun"</td>
    </tr>
    <tr>
      <td colspan="5" class="text-center">
        Note: For Z make the S sound not the vibrated Z as in English
      </td>
    </tr>
  </table>

  <div class="card bg-secondary text-white mb-2">
    <div class="card-body">
      <h5>About <kbd>ng</kbd></h5>
      <p>
        In English and Spanish we usually encounter <kbd>ng</kbd> at the
        middle or at the end of a word.
      </p>
      <p>
        In filipino you will also encounter <kbd>ng</kbd>
        <span class="fw-bold">at the beginning</span> of a word
      </p>
      <p>
        I've been trying to find a video about this, and I found some, but the
        one I like is the one below, it does not talk about pronouncing
        <kbd>ng</kbd> at the beginning but I like how the guy teaches the
        <kbd>pangalan</kbd> word syllable by syllable, so you can use it to
        learn how to pronounce <kbd>ng</kbd> as one syllable.
      </p>
    </div>
  </div>

  <div class="video-container">
    <iframe
      src="https://www.youtube.com/embed/-e7it-XR6Yw?si=wRg_HdXTQuG5gKDE&amp;start=892"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </div>

  <p>Credits: Learn with Reymund @ YouTube</p>
  
</div>
