<div class="responsive-width mx-auto">
  <h3>Introduce yourself</h3>

  <div>
    <span class="badge rounded-pill bg-primary">Ako si Noe</span> /
    <span class="badge rounded-pill bg-success">I am Noe</span>
  </div>

  <div class="card my-2">
    <div class="card-body">
      "Ako si NAME" is used when talking with familiar people (friends, same age, family, etc.).
    </div>
  </div>

  <p>Another ways to say it:</p>
  <div>
    <span class="badge rounded-pill bg-primary">Ang aking pangalan ay Noe</span> /
    <span class="badge rounded-pill bg-success">My name is Noe</span>
  </div>

  <div>
    <span class="badge rounded-pill bg-primary">Ako po ay si NAME / Ako po si NAME</span> /
    <span class="badge rounded-pill bg-success">I am NAME (formal)</span>
  </div>

  <div class="card my-2">
    <div class="card-body">
      Using "po" shows respect, use it if you are talking with a person of higher hierarchy (boss, police man, new
      people you met, elder people, etc.).
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-body">
      <p>
        <code>Ay</code> is <span class="fw-bold">NOT</span> a verb like "to be" in English. Instead, it is a linking
        word (sometimes called an <span class="fw-bold">inversion marker</span>) used in formal or literary Filipino
        sentences to connect the subject and predicate, often giving the sentence a more poetic or archaic tone.
      </p>

      <p>It typically appears in sentences that invert the typical subject-predicate order.</p>
      <p>It is usually omitted in common conversations.</p>
    </div>
  </div>

  <p class="fw-bold">Ask someone's else name</p>

  <div>
    <span class="badge rounded-pill bg-primary">Anong pangalan mo?</span> /
    <span class="badge rounded-pill bg-success">What is your name?</span>
  </div>

  <br />

  <div class="card">
    <div class="card-body"><code>pangalan</code> means name</div>
  </div>

  <br />

  <div class="card mb-4">
    <div class="card-body">
      The full form is <code>Ano ang pangalan mo?</code>, but people usually collapse the first two words into
      <code>Anong</code>
    </div>
  </div>

  <p class="fw-bold">More questions</p>
  <ul>
    <li class="mb-4">
      <p>Singular familiar:</p>
      <span class="badge rounded-pill bg-primary">Taga saan ka?</span> /
      <span class="badge rounded-pill bg-success">Where are you from?</span>
    </li>
    <li class="mb-4">
      <p>Plural familiar:</p>
      <span class="badge rounded-pill bg-primary">Taga saan kayo?</span> /
      <span class="badge rounded-pill bg-success">Where are you from?</span>
    </li>
    <li class="mb-4">
      <p>Polite Singular/Plural:</p>
      <span class="badge rounded-pill bg-primary">Taga saan po kayo?</span> /
      <span class="badge rounded-pill bg-success">Where are you from?</span>
    </li>
  </ul>
  <p>You can reply with this:</p>
  <ul>
    <li class="mb-4">
      <p>Singular familiar</p>
      <span class="badge rounded-pill bg-primary">Taga Mexico ako</span> /
      <span class="badge rounded-pill bg-success">I am from Mexico</span>
    </li>
    <li class="mb-4">
      <p>Singular polite</p>
      <span class="badge rounded-pill bg-primary">Taga Mexico po ako</span> /
      <span class="badge rounded-pill bg-success">I am from Mexico</span>
    </li>
    <li class="mb-4">
      <p>Plural familiar</p>
      <span class="badge rounded-pill bg-primary">Taga Mexico kami</span> /
      <span class="badge rounded-pill bg-success">We are from Mexico</span>
    </li>
    <li class="mb-4">
      <p>Plural polite</p>
      <span class="badge rounded-pill bg-primary">Taga Mexico po kami</span> /
      <span class="badge rounded-pill bg-success">We are from Mexico</span>
    </li>
  </ul>

  <div class="alert alert-warning">
    <p class="mb-4">🧠 <strong>Extra:</strong> the word <code>taga</code> also has another meaning:</p>
    <p>You can use <code>taga</code> to describe the "doer" of something.</p>
    <ul>
      <li class="mb-4">
        <p>The word <code>salin</code> means <code>translate</code>.</p>
        <span class="badge rounded-pill bg-primary">Taga salin</span> /
        <span class="badge rounded-pill bg-success">Translator</span>
      </li>
      <li class="mb-4">
        <p>The word <code>masid</code> means <code>observe</code>.</p>
        <span class="badge rounded-pill bg-primary">Taga masid</span> /
        <span class="badge rounded-pill bg-success">Observer</span>
      </li>
      <li class="mb-4">
        <p>The word <code>linis</code> means <code>clean</code>.</p>
        <span class="badge rounded-pill bg-primary">Taga masid</span> /
        <span class="badge rounded-pill bg-success">Cleaner</span>
      </li>
    </ul>
    <p>There are specific words in tagalog for the occupations, e.g.</p>
    <span class="badge rounded-pill bg-primary">Tsuper</span> /
    <span class="badge rounded-pill bg-success">Driver</span>
    <p class="mt-4">But <code>taga</code> is handy when you don't remember the word:</p>
    <span class="badge rounded-pill bg-primary">Taga maneho</span> /
    <span class="badge rounded-pill bg-success">Driver</span>
    <p class="mt-4">The word <code>maneho</code> means <code>drive</code></p>
    <hr />
    <p class="mt-4">
      Finally, the word <code>taga</code> can be used in a joking manner or used in a not flattering way:
    </p>
    <p>Joking:</p>
    <ul>
      <li class="mb-4">
        <span class="badge rounded-pill bg-primary">Taga kain</span> /
        <span class="badge rounded-pill bg-success">Someone who eats a lot</span>
      </li>
      <li class="mb-4">
        <span class="badge rounded-pill bg-primary">Taga drink</span> /
        <span class="badge rounded-pill bg-success">Someone who drinks a lot</span>
      </li>
      <li class="mb-4">
        <span class="badge rounded-pill bg-primary">Taga kanta</span> /
        <span class="badge rounded-pill bg-success">Someone who sings a lot</span>
      </li>
    </ul>
    <p>Not flattering:</p>
    <ul>
      <li class="mb-4">
        <span class="badge rounded-pill bg-primary">Taga mando</span> /
        <span class="badge rounded-pill bg-success">Someone that gives orders even when it's not his job</span>
      </li>
      <li class="mb-4">
        <span class="badge rounded-pill bg-primary">Taga sigaw</span> /
        <span class="badge rounded-pill bg-success">Someone who shout a lot</span>
      </li>
    </ul>
  </div>
</div>
