<div class="responsive-width mx-auto">
  <h3>Introduce yourself</h3>

  <div>
    <span class="badge rounded-pill bg-primary">Ako si Noe</span> /
    <span class="badge rounded-pill bg-success">I am Noe</span>
  </div>

  <div class="card my-2">
    <div class="card-body">
      "Ako si NAME" is used when talking with familiar people (friends, same age, family, etc.).
    </div>
  </div>

  <p>Another ways to say it:</p>
  <div>
    <span class="badge rounded-pill bg-primary">Ang aking pangalan ay Noe</span> /
    <span class="badge rounded-pill bg-success">My name is Noe</span>
  </div>

  <div>
    <span class="badge rounded-pill bg-primary">Ako po ay si NAME / Ako po si NAME</span> /
    <span class="badge rounded-pill bg-success">I am NAME (formal)</span>
  </div>

  <div class="card my-2">
    <div class="card-body">
      Using "po" shows respect, use it if you are talking with a person of higher hierarchy (boss, police man, new
      people you met, elder people, etc.).
    </div>
  </div>

  <div class="card mb-4">
    <div class="card-body">
      <p>
        <code>Ay</code> is <span class="fw-bold">NOT</span> a verb like "to be" in English. Instead, it is a linking
        word (sometimes called an <span class="fw-bold">inversion marker</span>) used in formal or literary Filipino
        sentences to connect the subject and predicate, often giving the sentence a more poetic or archaic tone.
      </p>

      <p>It typically appears in sentences that invert the typical subject-predicate order.</p>
      <p>It is usually omitted in common conversations.</p>
    </div>
  </div>

  <p class="fw-bold">Ask someone's else name</p>

  <div>
    <span class="badge rounded-pill bg-primary">Anong pangalan mo?</span> /
    <span class="badge rounded-pill bg-success">What is your name?</span>
  </div>

  <br />

  <div class="card">
    <div class="card-body"><code>pangalan</code> means name</div>
  </div>

  <br />

  <div class="card mb-4">
    <div class="card-body">
      The full form is <code>Ano ang pangalan mo?</code>, but people usually collapse the first two words into
      <code>Anong</code>
    </div>
  </div>
</div>
