<div class="responsive-width mx-auto">
  <h4>Object-focus and Actor-focus Verbs</h4>

  <p>In Filipino, verbs change focus depending on what part of the sentence is emphasized:</p>

  <div class="row">
    <div class="col-md-6">
      <div class="card mb-3 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-primary">🎭 Actor-Focus Verbs</h5>
          <p class="card-text">
            Highlight the <strong>doer</strong> of the action.<br>
            Common affixes: <code>mag-</code>, <code>um-</code>, <code>nag-</code>.
          </p>
          <p class="card-text">
            <em>Example:</em> <br>
            <code>Magluto</code> ang nanay. <br>
            <small class="text-muted">(Mom will cook.)</small>
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card mb-3 shadow-sm">
        <div class="card-body">
          <h5 class="card-title text-success">🎯 Object-Focus Verbs</h5>
          <p class="card-text">
            Highlight the <strong>receiver</strong> or <strong>object</strong> of the action.<br>
            Common affixes: <code>-in</code>, <code>i-</code>, <code>ipag-</code>.
          </p>
          <p class="card-text">
            <em>Example:</em> <br>
            <code>Lutuin</code> mo ang adobo. <br>
            <small class="text-muted">(Cook the adobo.)</small>
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container my-4">
    <p class="mb-4">Here are some common Filipino Verbs</p>
    <div class="row">
      <div class="col-md-6">
        <h4>Actor-Focus Verbs (UM / MAG)</h4>
        <table class="table table-striped table-hover">
          <thead class="table-dark">
            <tr>
              <th>Verb</th>
              <th>Meaning</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>kumain</td>
              <td>to eat</td>
            </tr>
            <tr>
              <td>uminom</td>
              <td>to drink</td>
            </tr>
            <tr>
              <td>umalis</td>
              <td>to leave</td>
            </tr>
            <tr>
              <td>pumunta</td>
              <td>to go</td>
            </tr>
            <tr>
              <td>dumating</td>
              <td>to arrive</td>
            </tr>
            <tr>
              <td>tumakbo</td>
              <td>to run</td>
            </tr>
            <tr>
              <td>sumayaw</td>
              <td>to dance</td>
            </tr>
            <tr>
              <td>kumanta</td>
              <td>to sing</td>
            </tr>
            <tr>
              <td>mag-aral</td>
              <td>to study</td>
            </tr>
            <tr>
              <td>magtrabaho</td>
              <td>to work</td>
            </tr>
            <tr>
              <td>magluto</td>
              <td>to cook</td>
            </tr>
            <tr>
              <td>magbasa</td>
              <td>to read</td>
            </tr>
            <tr>
              <td>magsulat</td>
              <td>to write</td>
            </tr>
            <tr>
              <td>maglaro</td>
              <td>to play</td>
            </tr>
            <tr>
              <td>maglinis</td>
              <td>to clean</td>
            </tr>
            <tr>
              <td>magbayad</td>
              <td>to pay</td>
            </tr>
            <tr>
              <td>magmaneho</td>
              <td>to drive</td>
            </tr>
            <tr>
              <td>magising</td>
              <td>to wake up</td>
            </tr>
            <tr>
              <td>matulog</td>
              <td>to sleep</td>
            </tr>
            <tr>
              <td>maligo</td>
              <td>to bathe</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col-md-6">
        <h4>Object-Focus Verbs (I / IN / AN)</h4>
        <table class="table table-striped table-hover">
          <thead class="table-dark">
            <tr>
              <th>Verb</th>
              <th>Meaning</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>kainin</td>
              <td>to eat (something)</td>
            </tr>
            <tr>
              <td>inumin</td>
              <td>to drink (something)</td>
            </tr>
            <tr>
              <td>puntahan</td>
              <td>to go to (a place)</td>
            </tr>
            <tr>
              <td>linisin</td>
              <td>to clean (something)</td>
            </tr>
            <tr>
              <td>lutuin</td>
              <td>to cook (something)</td>
            </tr>
            <tr>
              <td>basahin</td>
              <td>to read (something)</td>
            </tr>
            <tr>
              <td>isulat</td>
              <td>to write (something)</td>
            </tr>
            <tr>
              <td>laruin</td>
              <td>to play (a game)</td>
            </tr>
            <tr>
              <td>bayaran</td>
              <td>to pay for (something)</td>
            </tr>
            <tr>
              <td>gamitin</td>
              <td>to use (something)</td>
            </tr>
            <tr>
              <td>buksan</td>
              <td>to open (something)</td>
            </tr>
            <tr>
              <td>patayin</td>
              <td>to turn off / kill (something)</td>
            </tr>
            <tr>
              <td>buhatin</td>
              <td>to lift (something)</td>
            </tr>
            <tr>
              <td>ayusin</td>
              <td>to fix (something)</td>
            </tr>
            <tr>
              <td>bilhin</td>
              <td>to buy (something)</td>
            </tr>
            <tr>
              <td>dalhin</td>
              <td>to bring (something)</td>
            </tr>
            <tr>
              <td>tawagin</td>
              <td>to call (someone)</td>
            </tr>
            <tr>
              <td>kopyahin</td>
              <td>to copy (something)</td>
            </tr>
            <tr>
              <td>sundin</td>
              <td>to obey (something/someone)</td>
            </tr>
            <tr>
              <td>iwanan</td>
              <td>to leave (something/someone)</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
