<div class="responsive-width mx-auto">
  <h4>May/Wala</h4>

  <p>In Filipino, <code>may</code> and <code>wala</code> are commonly used to express possession or existence.</p>

  <ul>
    <li class="mb-4">
      <p><code>May</code> means "there is" or "has/have".</p>
      <div>
        <span class="badge rounded-pill bg-primary">May tubig sa mesa</span> /
        <span class="badge rounded-pill bg-success">There is water on the table</span>
      </div>
      <div>
        <span class="badge rounded-pill bg-primary">May bolpen ang lalaki</span> /
        <span class="badge rounded-pill bg-success">The man has a pen</span>
      </div>
    </li>
    <li>
      <p><code>Wala</code> is the opposite, it means "there is none" or "does not have".</p>
      <div>
        <span class="badge rounded-pill bg-primary">Wala akong pera</span> /
        <span class="badge rounded-pill bg-success">I don't have money</span>
      </div>
      <p>
        The word <code>walang</code> is a shortened form of <code>wala na may</code> or more naturally,
        <code>wala'ng</code>, and is used before a noun:
      </p>
      <div class="alert alert-warning mb-4">
        <p>
          The word <code>na</code> is functioning as a linker or ligature, a very common feature in Filipino grammar.
        </p>
        <p>
          <code>na</code> is used to connect words, especially when the first word ends in a vowel and the second word is another
          word (like a noun or modifier). It's similar to how we use "of" or "-'s" in English, or how adjectives are
          linked to nouns.
        </p>
        <p><code>wala na may</code> is not a standard expression anymore. It's more of a theoretical or old grammatical structure. In natural Filipino today, we just say <code>walang</code>.</p>
      </div>
      <div>
        <span class="badge rounded-pill bg-primary">Walang kaning ang mga batang babae</span> /
        <span class="badge rounded-pill bg-success">The girls does not have rice</span>
      </div>
    </li>
  </ul>
</div>
