<div class="responsive-width mx-auto">
  <h4>The Articles Si and Ang</h4>

  <p>
    In Filipino, any noun used as the subject in a sentence is always preceded by an article (except in imperative
    statements).
  </p>

  <div class="alert alert-warning mb-4">
    <p>
      An <span class="fw-bold">imperative sentence </span> is a type of sentence that gives a command, instruction,
      request, or advice. It usually begins with the base form of a verb and often has an implied subject ("you").
    </p>
    <p>Example:</p>
    <ul>
      <li>Close the door. (command)</li>
      <li>Please sit down. (polite request)</li>
      <li>Don't touch that. (negative command)</li>
      <li>Remember to call me. (advice)</li>
    </ul>
  </div>

  <h5>Si and Siná</h5>

  <p><code>á</code> is only to show you where to stress the word but the real word is just <code>sina</code></p>
  
  <p>
    The <code>si</code> article is used before the name of a person, <code>sina</code> is used before the names of two
    or more persons.
  </p>

  <p>Examples:</p>

  <ul>
    <li>
      <span class="badge rounded-pill bg-primary">Si Noe ay lalaki</span> /
      <span class="badge rounded-pill bg-success">Noe is a man</span>
    </li>
    <li>
        <span class="badge rounded-pill bg-primary">Sina Noe at Andrea ay matatalino</span> /
        <span class="badge rounded-pill bg-success">Noe and Andrea are good</span>
      </li>
  </ul>

  <p>You can use <code>si</code> instead of <code>sina</code> but then you need to repeat <code>si</code> for each person name:</p>
  <ul>
    <li>
        <span class="badge rounded-pill bg-primary">Si Noe at si Andrea ay matatalino</span> /
        <span class="badge rounded-pill bg-success">Noe and Andrea</span>
    </li>
  </ul>

  <p>Adjectives form their plural by duplicating the first syllable, that's why in the example aboce we used <code>matatalino</code>:</p>

  <ul>
    <li>Root word: talino (intelligence)</li>
    <li>State: matalino (to be smart)</li>
    <li>Plural: matatalino (to be smart)</li>
  </ul>

  <h5>Ang and Ang Mga</h5>

  <p>When the noun is the name of a thing or place we use <code>ang</code> and for plurar we use <code>ang mga</code></p>

  <p>The pronunciation of <code>mga</code> is <code>manga</code>.</p>

  <ul>
    <li>
        <span class="badge rounded-pill bg-primary">Ang aso ay mabait</span> /
        <span class="badge rounded-pill bg-success">The dog is good</span>
    </li>
    <li>
        <span class="badge rounded-pill bg-primary">Ang aso at ang bata ay mabait</span> /
        <span class="badge rounded-pill bg-success">The dog and the child are good</span>
    </li>
  </ul>

  <p>In contrasts with <code>sina</code>, for <code>ang mga</code> is not used for listing, therefore you need to repeat <code>ang</code> or <code>ang mga</code> for the next nouns. Although is acceptable to delete the second <code>ang</code> before the second name.</p>


</div>
