.dotted-underline {
  text-decoration: underline;
  text-decoration-style: dotted;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2px); /* Adjust the distance of the movement */
  }
  100% {
    transform: translateY(0);
  }
}

.animate-up-down {
  animation: moveUpDown 1s ease-in-out infinite; /* Adjust the timing and iteration as needed */
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Aspect ratio: 16:9 */
  height: 0;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}