<div class="responsive-width mx-auto">
  <h4>Understanding the Filipino Particle "ba"</h4>
  <p>The <code>ba</code> particle is used to turn a sentence into a yes-no question.</p>
  <p>It usually comes after the first important word or subject.</p>

  <h5>Usage</h5>

  <div class="card p-2 text-center my-2">
    <p>Add <code>ba</code> after the adjective to make it a question:</p>
    <div class="row">
      <div class="col-md-6">
        <span class="badge rounded-pill bg-primary">Masarap!</span>/<span
          class="badge rounded-pill bg-success"
          >Delicious!</span
        >
      </div>
      <div class="col-md-6">
        <span class="badge rounded-pill bg-primary">Masarap ba?</span>/<span
          class="badge rounded-pill bg-success"
          >Delicious?</span
        >
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <span class="badge rounded-pill bg-primary">Totoo!</span>/<span
          class="badge rounded-pill bg-success"
          >It is true!</span
        >
      </div>
      <div class="col-md-6">
        <span class="badge rounded-pill bg-primary">Totoo ba?</span>/<span
          class="badge rounded-pill bg-success"
          >Is it true?</span
        >
      </div>
    </div>
  </div>

  <div class="card p-2 text-center my-2">
    <p>Add <code>ba</code> between the adjective and <span class="fw-bold">two syllable</span> personal pronoun:</p>
    <div class="row">
      <div class="col-md-6">
        <span class="badge rounded-pill bg-primary">Maganda siya</span>/<span
          class="badge rounded-pill bg-success"
          >She is beautiful</span
        >
      </div>
      <div class="col-md-6">
        <span class="badge rounded-pill bg-primary">Maganda ba siya?</span>/<span
          class="badge rounded-pill bg-success"
          >Is she beautiful?</span
        >
      </div>
    </div>
  </div>

  <div class="card p-2 text-center my-2">
    <p>Add <code>ba</code> between the verb and <span class="fw-bold">two syllable</span> personal pronoun:</p>
    <div class="row">
      <div class="col-md-6">
        <span class="badge rounded-pill bg-primary">Kakain ako</span>/<span
          class="badge rounded-pill bg-success"
          >I will eat</span
        >
      </div>
      <div class="col-md-6">
        <span class="badge rounded-pill bg-primary">Kakain ba ako?</span>/<span
          class="badge rounded-pill bg-success"
          >Will I eat?</span
        >
      </div>
    </div>
  </div>

  <div class="card p-2 text-center my-2">
    <p>Add <code>ba</code> after the <span class="fw-bold">monosyllable</span> personal pronoun:</p>
    <div class="row">
      <div class="col-md-6">
        <span class="badge rounded-pill bg-primary">Nanaloka ka!</span>/<span
          class="badge rounded-pill bg-success"
          >You won!</span
        >
      </div>
      <div class="col-md-6">
        <span class="badge rounded-pill bg-primary">Nanaloka ka ba?</span>/<span
          class="badge rounded-pill bg-success"
          >Did you win?</span
        >
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <span class="badge rounded-pill bg-primary">Kumain ka</span>/<span class="badge rounded-pill bg-success"
          >You ate</span
        >
      </div>
      <div class="col-md-6">
        <span class="badge rounded-pill bg-primary">Kumain ka ba?</span>/<span class="badge rounded-pill bg-success"
          >Did you eat?</span
        >
      </div>
    </div>
  </div>

  <div class="card p-2 text-center my-2">
    <p>Add <code>ba</code> between the proper noun and the demonstrative pronoun to make it a question:</p>
    <div class="row">
      <div class="col-md-6">
        <span class="badge rounded-pill bg-primary">Si Noe iyon</span>/<span
          class="badge rounded-pill bg-success"
          >It is Now</span
        >
      </div>
      <div class="col-md-6">
        <span class="badge rounded-pill bg-primary">Si Noe ba iyon?</span>/<span
          class="badge rounded-pill bg-success"
          >Is that Noe?</span
        >
      </div>
    </div>
  </div>

  <div class="card p-2 text-center my-2">
    <p>Add <code>ba</code> between the adjective and the demonstrative pronoun:</p>
    <div class="row">
      <div class="col-md-6">
        <span class="badge rounded-pill bg-primary">Tama ito</span>/<span
          class="badge rounded-pill bg-success"
          >It is correct</span
        >
      </div>
      <div class="col-md-6">
        <span class="badge rounded-pill bg-primary">Tama ba ito?</span>/<span
          class="badge rounded-pill bg-success"
          >Is it correct?</span
        >
      </div>
    </div>
  </div>

</div>
