<div class="responsive-width mx-auto">
  <h4>Ba</h4>
  <p>The <code>ba</code> particle is used to turn a sentence into a yes-no question.</p>
  <p>It usually comes after the first important word or subject.</p>

  <div class="text-center p-2">
    <div class="row m-4">
      <div class="col-md-6">
        <span class="badge rounded-pill bg-primary">Ito ay iyong libro</span>/<span
          class="badge rounded-pill bg-success"
          >This is your book</span
        >
      </div>
      <div class="col-md-6">
        <span class="badge rounded-pill bg-primary">Ito ba ay iyong libro?</span>/<span
          class="badge rounded-pill bg-success"
          >Is this your book?</span
        >
      </div>
    </div>
    <div class="row m-4">
      <div class="col-md-6">
        <span class="badge rounded-pill bg-primary">Kumain ka</span>/<span class="badge rounded-pill bg-success"
          >You ate</span
        >
      </div>
      <div class="col-md-6">
        <span class="badge rounded-pill bg-primary">Kumain ka ba?</span>/<span class="badge rounded-pill bg-success"
          >Did you eat?</span
        >
      </div>
    </div>
    <div class="row m-4">
      <div class="col-md-6">
        <span class="badge rounded-pill bg-primary">Ito ay kotse ko</span>/<span class="badge rounded-pill bg-success"
          >This is my car</span
        >
      </div>
      <div class="col-md-6">
        <span class="badge rounded-pill bg-primary">Ito ba ay kotse ko?</span>/<span
          class="badge rounded-pill bg-success"
          >is this my car?</span
        >
      </div>
    </div>
    <div class="row m-4">
      <div class="col-md-6">
        <span class="badge rounded-pill bg-primary">Si Andrea ang guro</span>/<span
          class="badge rounded-pill bg-success"
          >Andrea is the teache</span
        >
      </div>
      <div class="col-md-6">
        <span class="badge rounded-pill bg-primary">Si Andrea ba ang guro?</span>/<span
          class="badge rounded-pill bg-success"
          >is Andrea the teacher?</span
        >
      </div>
    </div>
  </div>
</div>
