<div class="responsive-width mx-auto">
  <h4>Filipinas</h4>

  <p class="fw-bold">About the song</p>

  <p>
    ​The song "Filipinas" by Trío Los Panchos is a heartfelt tribute to the Philippines, composed during the group's
    visit to Manila in 1958. It was featured on their album Siete Notas de Amor, which includes Spanish renditions of
    Filipino folk songs.
  </p>

  <p>
    This particular track, written by Chucho Navarro, expresses deep admiration and affection for the Philippines,
    referring to the country as a beloved mother, an enchanting sweetheart, and the "princess of the Orient."
  </p>

  <p>
    The lyrics highlight the nation's warmth, respect, and the devotion of its people, who are portrayed as offering the
    "blood of their heart" to their homeland.
  </p>

  <div class="video-container sticky-top">
    <iframe
      src="https://www.youtube.com/embed/go6GfNipkF4?si=glYUv_jqDNTXJYS0"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </div>

  <div class="text-center mt-4">
    <p class="mb-4">Lyrics</p>
    <div>
      <p class="text-primary">Filipinas, mi madre adorada</p>
      <p class="text-secondary">Pilipinas, aking inang minamahal</p>
    </div>
    <div>
      <p class="text-primary">Del mundo admirada, por su resplandor</p>
      <p class="text-secondary">Hanga ang mundo sa iyong ningning at liwanag</p>
    </div>
    <div>
      <p class="text-primary">Filipinas, mi novia encantada</p>
      <p class="text-secondary">Pilipinas, aking kasintahang kaakit-akit</p>
    </div>
    <div>
      <p class="text-primary">La tierra que ofrece respeto y calor</p>
      <p class="text-secondary">Ang lupang nagbibigay-galang at init ng puso</p>
    </div>
    <div>
      <p class="text-primary">Filipinas, princesa de oriente</p>
      <p class="text-secondary">Pilipinas, prinsesa ng Silangan</p>
    </div>
    <div>
      <p class="text-primary">Tú eres la estrella que orienta mi amor</p>
      <p class="text-secondary">Ikaw ang bituing gumagabay sa aking pag-ibig</p>
    </div>
    <div>
      <p class="text-primary">Filipinas (la tierra de mi amor)</p>
      <p class="text-secondary">Pilipinas (ang lupang iniibig ko)</p>
    </div>
    <div>
      <p class="text-primary">Tus hijos te adoran</p>
      <p class="text-secondary">Sinasamba ka ng iyong mga anak</p>
    </div>
    <div>
      <p class="text-primary">Te ofrecen la sangre de su corazón</p>
      <p class="text-secondary">Iniaalay nila ang dugo ng kanilang puso</p>
    </div>
    <div>
      <p class="text-primary">Filipinas, mi madre adorada</p>
      <p class="text-secondary">Pilipinas, aking inang minamahal</p>
    </div>
    <div>
      <p class="text-primary">Del mundo admirada, por su resplandor</p>
      <p class="text-secondary">Hanga ang mundo sa iyong ningning at liwanag</p>
    </div>
    <div>
      <p class="text-primary">Filipinas, mi novia encantada</p>
      <p class="text-secondary">Pilipinas, aking kasintahang kaakit-akit</p>
    </div>
    <div>
      <p class="text-primary">La tierra que ofrece respeto y calor</p>
      <p class="text-secondary">Ang lupang nagbibigay-galang at init ng puso</p>
    </div>
    <div>
      <p class="text-primary">Filipinas, princesa de oriente</p>
      <p class="text-secondary">Pilipinas, prinsesa ng Silangan</p>
    </div>
    <div>
      <p class="text-primary">Tú eres la estrella que orienta mi amor</p>
      <p class="text-secondary">Ikaw ang bituing gumagabay sa aking pag-ibig</p>
    </div>
    <div>
      <p class="text-primary">Filipinas (la tierra de mi amor)</p>
      <p class="text-secondary">Pilipinas (ang lupang iniibig ko)</p>
    </div>
    <div>
      <p class="text-primary">Tus hijos te adoran</p>
      <p class="text-secondary">Sinasamba ka ng iyong mga anak</p>
    </div>
    <div>
      <p class="text-primary">Te ofrecen la sangre de su corazón</p>
      <p class="text-secondary">Iniaalay nila ang dugo ng kanilang puso</p>
    </div>
    <div>
      <p class="text-primary">De su corazón</p>
      <p class="text-secondary">Ng kanilang puso</p>
    </div>

    <p>Credits: Filipinas - Trio Los Panchos</p>
  </div>
</div>
