<div class="responsive-width mx-auto">
  <h4>Pasilyio</h4>

  <div class="video-container sticky-top">
    <iframe
      src="https://www.youtube.com/embed/VhCnE53i1jc?si=1yTXFoFz9i2mMDQW"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </div>

  <div class="text-center mt-4">
    <div>
      <p class="text-primary">Palad ay basang-basa</p>
      <p class="text-secondary">My palms are soaking wet</p>
    </div>

    <div>
      <p class="text-primary">Ang dagitab ay damang-dama</p>
      <p class="text-secondary">The spark is deeply felt</p>
    </div>

    <div>
      <p class="text-primary">Sa 'king kalamnang punong-puno</p>
      <p class="text-secondary">In my body filled</p>
    </div>

    <div>
      <p class="text-primary">Ng pananabik at ng kaba</p>
      <p class="text-secondary">With anticipation and nervousness</p>
    </div>

    <div>
      <p class="text-primary">Lalim sa 'king bawat paghinga</p>
      <p class="text-secondary">There's depth in every breath I take</p>
    </div>

    <div>
      <p class="text-primary">Nakatitig lamang sa iyo</p>
      <p class="text-secondary">Eyes locked only on you</p>
    </div>

    <div>
      <p class="text-primary">Naglakad ka nang dahan-dahan</p>
      <p class="text-secondary">You walked slowly</p>
    </div>

    <div>
      <p class="text-primary">Sa pasilyo tungo sa altar ng simbahan</p>
      <p class="text-secondary">Down the aisle toward the church altar</p>
    </div>

    <div>
      <p class="text-primary">Hahagkan na't 'di ka bibitawan</p>
      <p class="text-secondary">I will kiss you and never let go</p>
    </div>

    <div>
      <p class="text-primary">Wala na 'kong mahihiling pa</p>
      <p class="text-secondary">I won't ask for anything more</p>
    </div>

    <div>
      <p class="text-primary">(Ikaw at ikaw)x4</p>
      <p class="text-secondary">(You and only you)x4</p>
    </div>

    <div>
      <p class="text-primary">'Di maikukumpara</p>
      <p class="text-secondary">Nothing compares</p>
    </div>

    <div>
      <p class="text-primary">Araw-araw kong dala-dala</p>
      <p class="text-secondary">I carry it every day</p>
    </div>

    <div>
      <p class="text-primary">Paboritong panalangin ko'y</p>
      <p class="text-secondary">My favorite prayer is</p>
    </div>

    <div>
      <p class="text-primary">Makasama ka sa pagtanda</p>
      <p class="text-secondary">To grow old with you</p>
    </div>

    <div>
      <p class="text-primary">Ang hiling sa Diyos na may gawa</p>
      <p class="text-secondary">My wish to God the Creator</p>
    </div>

    <div>
      <p class="text-primary">Apelyido ko'y maging iyo</p>
      <p class="text-secondary">Is that you take my last name</p>
    </div>

    <div>
      <p class="text-primary">Naglakad ka nang dahan-dahan</p>
      <p class="text-secondary">You walked slowly</p>
    </div>

    <div>
      <p class="text-primary">Sa pasilyo tungo sa 'kin</p>
      <p class="text-secondary">Down the aisle toward me</p>
    </div>

    <div>
      <p class="text-primary">At hinawakan mo ako't aking 'di napigilang</p>
      <p class="text-secondary">And when you held me, I couldn’t help but</p>
    </div>

    <div>
      <p class="text-primary">Maluha nang mayakap na</p>
      <p class="text-secondary">Cry as I embraced you</p>
    </div>

    <div>
      <p class="text-primary">(Ikaw at ikaw)x...</p>
      <p class="text-secondary">(You and only you)x...</p>
    </div>

    <div>
      <p class="text-primary">Palad ay basang-basa</p>
      <p class="text-secondary">My palms are soaking wet</p>
    </div>

    <div>
      <p class="text-primary">Ang dagitab ay damang-dama</p>
      <p class="text-secondary">The spark is deeply felt</p>
    </div>

    <div>
      <p class="text-primary">Sa 'king kalamnang punong-puno</p>
      <p class="text-secondary">In my body filled</p>
    </div>

    <div>
      <p class="text-primary">'Di maikukumpara</p>
      <p class="text-secondary">Nothing compares</p>
    </div>

    <div>
      <p class="text-primary">Araw-araw kong dala-dala</p>
      <p class="text-secondary">I carry it every day</p>
    </div>

    <div>
      <p class="text-primary">Paboritong panalangin ko'y, Ikaw.</p>
      <p class="text-secondary">My favorite prayer is, You.</p>
    </div>

    <p>Credits: SunKissed Lola - Pasilyo</p>
  </div>
</div>
