<div
  class="responsive-width mx-auto"
  style="height: 100vh"
>
  <h2 class="mb-4" id="gameTitle"></h2>
  <div class="progress mb-4">
    <div id="progressBar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
  </div>

  <div class="container d-flex flex-column align-items-center responsive-width">
    <p id="question" class="lead"></p>
    <div id="options" class="d-flex justify-content-center gap-3 flex-wrap"></div>
    <p id="feedback" class="mt-3 fw-bold"></p>
  </div>

</div>
