<div class="responsive-width mx-auto" style="height: 100vh">
  <h2 class="mb-4" id="gameTitle"></h2>
  <div class="progress mb-4">
    <div
      id="progressBar"
      class="progress-bar progress-bar-striped progress-bar-animated"
      role="progressbar"
      style="width: 0%"
      aria-valuenow="0"
      aria-valuemin="0"
      aria-valuemax="100"
    ></div>
  </div>

  <div class="container d-flex flex-column align-items-center">
    <button
      title="toggle language"
      id="toggle-lang"
      class="btn btn-secondary my-2"
      onclick="questionOptionsNamespace.langButton(this)"
    >
      filipino
    </button>

    <h4 id="question"></h4>

    <div id="options" class="btn-group-vertical"></div>

    <p id="feedback" class="mt-3"></p>
  </div>
</div>
