<div class="responsive-width mx-auto">
  <h3 title="Greetings" class="dotted-underline">Mga Pagbati</h3>

  <div class="card text-white my-4">
    <div class="card-body">
      <p><span class="badge rounded-pill bg-primary">Pagbati</span> means greeting (singular)</p>
      <p><span class="badge rounded-pill bg-primary">Mga pagbati</span> means greetings (plural)</p>
      <p>
        In Filipino instead of adding and <code>s</code> to a word to make it plural as in English, <code>mga</code> is
        added before the word to make it plural.
      </p>

      <p class="mt-2">
        The pronunciation of <code>mga</code> si more or less like
        <code>manga</code>
      </p>
      <p>Example:</p>
      <div>
        <span class="badge rounded-pill bg-primary">lalaki</span> /
        <span class="badge rounded-pill bg-success">man</span>
      </div>
      <div>
        <span class="badge rounded-pill bg-primary">mga lalaki</span> /
        <span class="badge rounded-pill bg-success">men</span>
      </div>
    </div>
  </div>

  <span class="badge rounded-pill bg-primary"> Kumusta ka? / kumusta? </span>
  <span class="badge rounded-pill bg-success">/hi/hello/How are you?</span>

  <div class="card text-white my-4">
    <div class="card-body">
      Some people pronounce <code>kamusta</code> but this is wrong, I encourage you to pronounce
      <code>kumusta</code> but at the end of the day it's up to you.
    </div>
  </div>

  <p>Always try to be polite and add <code>po</code>:</p>

  <span class="badge rounded-pill bg-primary"> kumusta po kayo? / kumusta po? </span>
  <span class="badge rounded-pill bg-success">How are you? (formal)</span>

  <div class="card text-white my-2">
    <div class="card-body">
      <code>po</code> is a polite particle used to show respect, especially when speaking to someone older or of higher
      status.
    </div>
  </div>

  <div class="card text-white my-2">
    <div class="card-body">
      Even though <code>kayo</code> means <code>you</code> (plural), you can use it here for both single person and more
      than one person. Using <code>kayo</code> to a single person shows even more respect.
    </div>
  </div>

  <div class="card text-white my-2">
    <div class="card-body">
      <span class="badge rounded-pill fw-bold bg-primary">Kumusta po sila</span>
      is used to show
      <span class="badge rounded-pill fw-bold bg-danger">extreme</span> respect.
      <p class="mt-2">
        Even thought <code>sila</code> means <code>they</code>, it is used to refer to a single person or multiple
        people, so in this case is "like" <code>them</code> instead of <code>they</code>.
      </p>
    </div>
  </div>

  <p class="mb4"></p>

  <h4>Reply</h4>

  <span class="badge rounded-pill bg-primary"> Mabuti</span>
  <span class="badge rounded-pill bg-success">good/fine</span>

  <div class="card text-white my-2">
    <div class="card-body">
      <p>
        You can also say
        <span class="badge rounded-pill fw-bold bg-primary">mabuti naman</span>
      </p>
      <p>the word <code>naman</code> adds a nuance of contrast or softens the response.</p>
      <p>
        Another example: <span class="badge rounded-pill bg-primary">hindi naman</span>/<span
          class="badge rounded-pill bg-success"
          >no (soft)</span
        >
      </p>
    </div>
  </div>

  <span class="badge rounded-pill bg-primary"> Mabuti rin</span>
  <span class="badge rounded-pill bg-success">I'm fine too</span>

  <div class="card text-white my-4">
    <div class="card-body">
      <code>rim</code> means too, also or either. <code>rim</code> is commonly used after words ending in a vowel,
      <code>din</code> is commonly used after words ending in a consonant but this rule is not strict.
    </div>
  </div>

  <p>Another useful words/phrases:</p>
  
  <div>
    <span class="badge rounded-pill bg-primary"> Ayos lang. Ikaw?</span>
    <span class="badge rounded-pill bg-success">I'm ok. How about you?</span>
  </div>
  <div>
    <span class="badge rounded-pill bg-primary"> Pakiusap</span>
    <span class="badge rounded-pill bg-success">Please</span>
  </div>
  <div>
    <span class="badge rounded-pill bg-primary"> Walang anuman</span>
    <span class="badge rounded-pill bg-success">Your welcome/It's nothing (when someone says thanks to you)</span>
  </div>
  <div>
    <span class="badge rounded-pill bg-primary"> Maligayang pagdating</span>
    <span class="badge rounded-pill bg-success"> Welcome (sounds more natural than "mabuhay")</span>
  </div>
  <div>
    <span class="badge rounded-pill bg-primary">walang problema</span>/
    <span class="badge rounded-pill bg-success">no problem</span>
  </div>
  <div>
    <span class="badge rounded-pill bg-primary">ok lang po</span>/
    <span class="badge rounded-pill bg-success">it's ok</span>
  </div>
  
  <p>Actually <code>walang</code> means nothing, and <code>anuman</code> means "whatsoever". so <code>walang anuman</code> is more like "it's nothing"</p>

  <h4 class="mt-4">Greeting people depending on the time of the day</h4>
  <table class="table table-bordered table-hover">
    <tr class="table-primary">
      <td colspan="2">Madaling Araw (Dawn – 12:00 AM to ~5:00 AM)</td>
    </tr>
    <tr>
      <td>Informal: Magandang madaling araw!</td>
      <td>Formal: Magandang madaling araw po!</td>
    </tr>
    <tr class="table-primary">
      <td colspan="2">Umaga (Morning – ~5:00 AM to 11:59 AM)</td>
    </tr>
    <tr>
      <td>Informal: Magandang umaga!</td>
      <td>Formal: Magandang umaga po!</td>
    </tr>
    <tr class="table-primary">
      <td colspan="2">Tanghali (Noon – 12:00 PM to ~1:00 PM)</td>
    </tr>
    <tr>
      <td>Informal: Magandang tanghali!</td>
      <td>Formal: Magandang tanghali po!</td>
    </tr>
    <tr>
      <td colspan="2">(Some people just use "Magandang hapon" instead of "Magandang tanghali.")</td>
    </tr>
    <tr class="table-primary">
      <td colspan="2">Hapon (Afternoon – ~1:00 PM to 5:59 PM)</td>
    </tr>
    <tr>
      <td>Informal: Magandang hapon!</td>
      <td>Formal: Magandang hapon po!</td>
    </tr>
    <tr class="table-primary">
      <td colspan="2">Gabi (Evening – ~6:00 PM to 11:59 PM)</td>
    </tr>
    <tr>
      <td>Informal: Magandang gabi!</td>
      <td>Formal: Magandang gabi po!</td>
    </tr>
    <tr class="table-primary">
      <td colspan="2">Hatinggabi (Midnight – 12:00 AM)</td>
    </tr>
    <tr>
      <td>Informal: Magandang hatinggabi!</td>
      <td>Formal: Magandang hatinggabi po!</td>
    </tr>
    <tr>
      <td colspan="2">(This is also rarely used. People usually just say “Magandang gabi” instead.)</td>
    </tr>
  </table>

  <div class="card text-white my-4">
    <div class="card-body">
      <p>
        <span class="badge rounded-pill bg-primary">magandang araw</span>/
        <span class="badge rounded-pill bg-success">good day</span>
      </p>
      <p>
        You can use it but it is not common, you may sound formal, it is more common to be specific, use the table
        above.
      </p>
    </div>
  </div>

  <img src="img/kumusta_dialogue.svg" style="width: 100%" class="rounded shadow-lg my-4" />
  <p>You can omit <code>po</code> if the situation is not formal and you have familiarity with the other person.</p>

  <div class="card text-white my-4">
    <div class="card-body">
      <p>
        <span class="badge rounded-pill fw-bold bg-primary">salamat</span> means thank you, remember that "po" adds a
        tone of respect to the phrase.
      </p>
      <p>
        <span class="badge rounded-pill fw-bold bg-primary">salamat po sa iyo</span>
        is used when you are giving thanks to one single person.
      </p>
      <p>
        <span class="badge rounded-pill fw-bold bg-primary">salamat po sa inyo</span>
        is used when you are giving thanks to more than one person.
      </p>
      <ul>
        <li>
          <code>sa</code> indicates direction.
        </li>
        <li>Use <code>iyo</code> when speaking to one person informally.</li>
        <li>Use <code>inyo</code> when speaking to multiple people or addressing one person formally.</li>
      </ul>
    </div>
  </div>

  <div class="card text-white my-4">
    <div class="card-body">
      <p class="mt-2">
        You can add
        <span class="badge rounded-pill fw-bold bg-primary">maraming</span>
        which means "many":
      </p>
      <p>
        <span class="badge rounded-pill fw-bold bg-primary">maraming salamat po</span>
        /
        <span class="badge rounded-pill fw-bold bg-success">many thanks / thanks a lot / thank you very much</span>
      </p>
      <p>(you can also say "maraming maraming salamat" if you want to express a LOOOOT of gratitude)</p>
    </div>
  </div>

  <div class="card text-white my-4">
    <div class="card-body">
      <p>
        <span class="badge rounded-pill bg-primary">salamat po para dito</span>/
        <span class="badge rounded-pill bg-success">thank you for this</span>
      </p>
      <p><code>para</code> means <code>for</code></p>
      <p><code>dito</code> means <code>this</code></p>
    </div>
  </div>

  <div class="card text-white my-4">
    <div class="card-body">
      <p>
        🎁
        <span class="badge rounded-pill bg-primary">salamat po para sa regalo</span>/
        <span class="badge rounded-pill bg-success">thank you for the gift</span>
      </p>
      <p><code>regalo</code> means <code>gift</code></p>
    </div>
  </div>

  <h5 class="my-4">Replying</h5>

  <p>(You can also say <code>your welcome po</code>)</p>

  <div>
    <p>
      I highly recommend this article:
      <a href="https://lingopie.com/blog/how-to-say-hello-in-tagalog/"
        >https://lingopie.com/blog/how-to-say-hello-in-tagalog/</a
      >
    </p>
  </div>
</div>
