#banner {
  background-image: url(../img/background_banner.jpeg);
  background-position: center ;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.689);
}

.dotted-underline {
  text-decoration: underline;
  text-decoration-style: dotted;
}



[data-bs-theme="light"] {
  --bs-body-bg: #e9e9e9; /* Gris claro */
  --bs-body-color: #212529; /* Texto oscuro para contraste */
}



body {
  background-image: url(../img/background.svg);
}


.jiggle:hover {
  animation: jiggle 0.4s ease-in-out infinite;
}

@keyframes jiggle {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(2deg); }
  50% { transform: rotate(-2deg); }
  75% { transform: rotate(2deg); }
  100% { transform: rotate(0deg); }
}



.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* Aspect ratio: 16:9 */
  height: 0;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}




.responsive-width {
  width: 100%;
}
@media (min-width: 768px) {
  .responsive-width {
    width: 75%;
  }
}
@media (min-width: 992px) {
  .responsive-width {
    width: 60%;
  }
}
@media (min-width: 1200px) {
  .responsive-width {
    width: 50%;
  }
}
@media (min-width: 1300px) {
  .responsive-width {
    width: 40%;
  }
}




.image-responsive {
  width: 100%;
  margin: auto;
}
@media (min-width: 600px) {
  .image-responsive  {
    width: 60%;
  }
}




.hover-text-primary:hover {
  color: var(--bs-info);
}




html[data-bs-theme="dark"] img.invertible {
  filter: invert();
  mix-blend-mode: difference;
}



[data-bs-theme="light"] {
  .nav-link:hover {
    background-color: #d6e5fa;
  }
}

[data-bs-theme="dark"] {
  .nav-link:hover {
    background-color: #3b3f55;
  }
}