<div class="responsive-width mx-auto">
  <h3>Pronouns Sa Group</h3>
  <table class="table table-striped table-bordered mt-3 table-hover">
    <thead>
      <tr>
        <th scope="col">Person</th>
        <th scope="col">Filipino Pronoun</th>
        <th scope="col">English Translation</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1st Person Singular</td>
        <td>Sa akin</td>
        <td>To me, for me</td>
      </tr>
      <tr>
        <td>2nd Person Singular</td>
        <td>Sa iyo</td>
        <td>To you, for you</td>
      </tr>
      <tr>
        <td>3rd Person Singular</td>
        <td>Sa kanya</td>
        <td>To him/her, for him/her</td>
      </tr>
      <tr>
        <td>1st Person Plural</td>
        <td>Sa atin</td>
        <td>To us (inclusive), for us (inclusive)</td>
      </tr>
      <tr>
        <td>1st Person Plural</td>
        <td>Sa amin</td>
        <td>To us (exclusive), for us (exclusive)</td>
      </tr>
      <tr>
        <td>2nd Person Plural</td>
        <td>Sa inyo</td>
        <td>To you all, for you all</td>
      </tr>
      <tr>
        <td>3rd Person Plural</td>
        <td>Sa kanila</td>
        <td>To them, for them</td>
      </tr>
    </tbody>
  </table>
  
  <p>Pronouns in the Sa group has 4 functions:</p>

  <table class="table table-striped table-bordered mt-3 table-hover">
    <thead>
      <tr>
        <th scope="col">Function</th>
        <th scope="col">Example Sentence</th>
        <th scope="col">Meaning</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><strong>Direction</strong></td>
        <td>Pupunta ako <strong>sa iyo</strong>.</td>
        <td>I will go to you.</td>
      </tr>
      <tr>
        <td><strong>Location</strong></td>
        <td>Nasa kanya <strong>ang susi</strong>.</td>
        <td>The key is with him/her.</td>
      </tr>
      <tr>
        <td><strong>Recipient</strong></td>
        <td>Nagbigay ako ng regalo <strong>sa kanila</strong>.</td>
        <td>I gave a gift to them.</td>
      </tr>
      <tr>
        <td><strong>Possession</strong></td>
        <td>Ang sasakyan <strong>sa tatay ko</strong>.</td>
        <td>My dad's car.</td>
      </tr>
    </tbody>
  </table>
  
</div>
